body{
  margin: 0;
  background-color: #ababab;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #222222;
}
/************************************
            HEADER
*************************************/
.Header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menue-bars{
  height: 40px;
  margin-right: 8px;
}
.Header-section{
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}
.Header-section .aside{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: space-around;
  right: 0;
  top: 0;
  background-color: rgba(179, 179, 179, 0.9);
  height: 100vh;
}
.Header-section .aside div a{
  text-decoration: none;
  color: rgb(42, 42, 42);
  font-weight: bold;
}
.Header-section .aside div a:active{
  color: #007bff;
}
.x{
  height: 20px;
  margin-top: 12px;
  cursor: pointer;
}
.aside-nav-container{
  margin-top: 40px;
}
.Header-logo img {
  height: 48px;
  margin: 0 12px;
}
.Header-nav nav {
  display: flex;
  justify-content: center;
}
.Header-nav ul {
  display: none;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.Header-nav li {
  padding: 5px;
}

.Header-nav a {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.Header-nav a:hover {
  color: #007bff;
}

/************************************
            HERO
*************************************/
.hero-section {
  height: 60vh;
  background-image: url(../public/images/Backgrounds/4.png);
  background-position: center;
  background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  color: #eaeaea;
}

.hero-text h1 {
  font-size: 12vw;
  margin-bottom: 16px;
}

.hero-text h2 {
  font-size: 6vw;
  margin-bottom: 40px;
}

/************************************
            BUTTON
*************************************/
.cta-button {
  display: inline-block;
  background-color: #2196f3;
  color: #d7d7d7;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 6vw;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  width: 64vw;
}

.cta-button:hover {
  background-color: #fff;
  color: #2196f3;
}
/************************************
            SKILLS
*************************************/
.skills-section {
  padding: 40px 0;
  text-align: center;
}

.skills-section h2 {
  font-size: 12vw;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills-logo{
  width: 32vw;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  padding: 10px;
  background-color: #f7f7f7;
  color: #252525;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.skill:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.skill h3 {
  font-size: 5vw;
}
/************************************
            PROJECTS
*************************************/
.projects-section {
  padding: 20px 0;
  text-align: center;
}

.projects-section h2 {
  font-size: 12vw;
  margin-bottom: 40px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 60vw;
  border-radius: 5vw;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  text-decoration: none;
}
.project h4{
  font-size: 16vw;
  color: #232323;
}

/************************************
            SERVICES
*************************************/
.services-section {
  padding: 40px 0 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
}

.service {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  color: #252525;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.service h2 {
  font-size: 6vw;
  margin-bottom: 20px;
}

.service p {
  text-align: left;
  font-size: 3vw;
  line-height: 1.5;
}
/************************************
            PRICING
*************************************/
.pricing-section {
  text-align: left;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.pricing {
  max-width: 1000px;
}

.pricing h2 {
  font-size: 6vw;
  margin-bottom: 20px;
}

.pricing p {
  font-size: 3vw;
  margin-bottom: 10px;
}
/************************************
            BIO
*************************************/

.bio-section {
  text-align: center;
}

.bio-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.bio-text {
  max-width: 1000px;
  text-align: left;
}

.bio-text h2 {
  font-size: 12vw;
  margin-bottom: 20px;
}

.bio-text p {
  font-size: 3vw;
  line-height: 1.5;
  margin-bottom: 20px;
}
/************************************
            EDU-EXP
*************************************/

.edu-exp-section {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.edu-exp-container {
  width: 1000px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;

}
.edu-exp-container div h2 {
  font-size: 8vw;
  margin-bottom: 12px;
}

.edu-exp-container div p {
  font-size: 3vw;
  margin-bottom: 10px;
}
/************************************
            FOOTER
*************************************/
footer {
  background-color: #252525;
  color: #fff;
  font-size: 2vw;
  line-height: 16px;
  display: flex;
  justify-content: center;
}
.row{
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}
.social-media {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.social-media-logo{
  height: 6vw;
  margin-right: 10px;
}
.social-media li {
  list-style: none;
  margin-right: 20px;
}
.col-1{
  padding-left: 10px;
  width: 40%;
}
.col-2{
  width: 15%;
  margin: 0 10px;
}
.col-3{
  margin-right: 10px;
}
.copyright{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (min-width: 420px){
  
  .menue-bars{
    display: none;
  }
  .Header-nav ul{
    display: flex;
  }
  .hero-section {
    height: 500px;
  }
  .hero-text h1 {
    font-size: 44px;
  }
  .hero-text h2 {
    font-size: 24px;
  }
  .cta-button{
    font-size: 20px;
    width: 200px;
  }
  .skills-section h2{
    font-size: 38px;
  }
  .skills-logo{
    width: 140px;
  }
  .skill h3 {
    font-size: 20px;
  }
  .projects-section h2{
    font-size: 38px;
  }
  .project {
    width: 400px;
    height: 280px;
    border-radius: 20px;
  }
  .project h4{
    font-size: 52px;
  }
  .service {
    height: 160px;
  }
  .service h2 {
    font-size: 28px;
  }
  
  .service p {
    font-size: 12px;
  }
  .pricing h2 {
    font-size: 28px;
  }
  
  .pricing p {
    font-size: 12px;
  }
  .bio-text h2 {
    font-size: 28px;
  }
  .bio-text p {
    font-size: 12px;
  }
  .edu-exp-container div h2 {
    font-size: 28px;
  }
  
  .edu-exp-container div p {
    font-size: 12px;
  }
}
@media (min-width: 760px){
  .Header-nav a {
    margin: 0 10px;
  }
  .service {
    width: 300px;
  }
  .skill{
    margin: 10px;
  }
  .project {
    width: 300px;
    height: 220px;
    border-radius: 20px;
  }
  .project h4{
    font-size: 52px;
  }
  footer {
    font-size: 12px;
  }
  .social-media-logo{
    height: 40px;
  }
}
@media (min-width: 990px){
  .service {
    width: 440px;
    padding: 20px;
  }

  .service p {
    font-size: 16px;
  }

  .pricing p {
    font-size: 16px;
  }

  .bio-text p {
    font-size: 16px;
  }
  .edu-exp-container div p {
    font-size: 16px;
  }
}